# Files
.DS_Store
*.png
*.pdf
*.idea/
notes.txt
._*
*.gif
*.fits
*.svg
*.csv
*.zip
*.ipynb_checkpoints
*.csv
*.ckpt*
*.h5
*.pb
*.data
*.sav
*.joblib
*.pyc

# Folders
__pycache__
2_raw_data/
3_eda/
5_models/
6_predictions/
7_logs
.vscode/
*/.ipynb_checkpoints/
*/__pycache__/
dask-worker-space/